@import '../../styles/global';

.app {
  position: relative;
  background-color: $bgPage;
  min-height: 100vh;
  height: fit-content;

  &__container{
    background-color: $globalOffset;
    box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
    border-radius: 3px;
    height: fit-content;
    width: 91.466%;
    padding: 32px 0 0;
    position: relative;
    bottom: 64px;
    margin: 0 auto;
    z-index: 1;

    @include tablet {
      width: 91.66%
    }

    @include laptop {
      max-width: 1020px;
    }
  }

  &__copyright{
    font-size: 11px;
    line-height: 16px;
    text-align: center;
    width: 100%;
    position: relative;
    bottom: 40px;
    margin: 32px 0;

    @include laptop {
      bottom: 48px;
    }
  }
}