@import '../../styles/global';

.container {
    border-top: 1px solid $globalBorder;

    &__card {
        display: flex;
        align-items: space-evenly;
        padding: 0 6.4vw 27px;
        flex-wrap: wrap;
        border-bottom: 1px solid $globalBorder;
        width: 100%;

        @include tablet {
          padding: 0 4.16vw;
          flex-wrap: nowrap;
          width: 100%;
          display: flex;
          padding: 0 4.16vw;
          max-width: 704px;
        }
        @include laptop {
          padding: 0 3.125vw;
          max-width: 1020px;
        }
      }

      &__contact {
        display: flex;
        flex-direction: column;
        width: 50%;
        @include tablet {
          flex-direction: row;
          position: relative;
          justify-content: space-between;
          margin-bottom: 16px;
          width: fit-content;
          // max-width: 39vw;

          & div:nth-of-type(1){ //Contact Name
            width: 15.75520833333333vw;
            max-width: 174px;
          }
          & div:nth-of-type(2){ //Contact Information
            width: 24.609375vw;
            @include laptop{
              max-width: 225px;
            }
          }
        }
      }

      &__location {
        width: 50%;
        display: flex;
        flex-direction: column;
        @include tablet {
          flex-direction: row;
          justify-content: space-between;
          margin-bottom: 16px;
          width: fit-content;
          max-width: 50%;

          & div:nth-of-type(1){ //Warehouse
            width: 19.53125vw;
            max-width: 221px;
          }
          & div:nth-of-type(2){ //Address
            width: 15.75520833333333vw;
            @include laptop{
              width: 20.390625vw
            }
          }
        }
      }
    
      &__content {
        width: 150px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 16px;
    
        &-title {
          text-transform: uppercase;
          color: $globalSecondary;
          font-size: 0.7em;
          margin: 0 0 4px;
          width: 90%;
          font-weight: 600;
          @include tablet {
            display: none;
          }
        }
        
        &-select {
          display: flex;
          text-decoration: none;
          font-weight: 600;

          &-text {
            margin: auto 0;
            font-size: 0.8em;
            width: 79%;
            @include tablet {
              margin: 0%;
              font-size: .875em;
            }
  
            &.--link {
              width: fit-content;
              font-size: 0.8em;
              margin-top: 0%;
              color: $globalHiglight;
              margin-bottom: 0%;
              line-height: 20px;
            }
          }
        }

        &-text {
          margin: auto 0;
          font-size: 0.8em;
          width: 79%;
          @include tablet {
            margin: 0%;
            font-size: .875em;
          }

          &.--link {
            width: fit-content;
            font-size: 0.8em;
            margin-top: 0%;
            color: $globalHiglight;
            margin-bottom: 0%;
            line-height: 20px;
          }
          &.--out-of-stock{
            font-size: .6875rem;
            font-weight: 600;
            background-color: $stockOut;
            color: $stockOutOpaque;
            border-radius: 20px;
            padding: 4px 8px;
            width: 92px;
            text-transform: uppercase;
            text-align: center;
          }
          &.--in-stock{
            font-size: .6875rem;
            font-weight: 600;
            background-color: $stockIn;
            color: $stockInOpaque;
            border-radius: 20px;
            padding: 4px 8px;
            width: 65px;
            text-transform: uppercase;
            text-align: center;
          }
        }

        &-chevron{
            height: 20px;
        }

        &.--shift{
          @include tablet{
            position: relative;
            left: 70px;
          }
          @include laptop{
            left: -20px;
          }
        }
        &.--pull{
          @include laptop{
            position: relative;
            left: -60px;
          }
        }
        &.--warehouse-pull{
          @include tablet{
            position: relative;
            left: -100px;
            width: fit-content;
          }
        }
      }


      &__links {
        display: flex;
        justify-content: space-between;
        padding-top: 19px;
        align-items: center;
        width: 100%;

        @include tablet {
          padding: 0%;
          width: 56px;
        }
        
        & img{
            height: 20px;
        }

        &.--pull{
          @include tablet {
            position: relative;
            left: -60px;
          }
        }
    }
  @include tablet {
    border-top: none;
  }
}