@import "./variables";

// Typography Reset
html,
body,
textarea,
p {
  color: $globalPrimary;
  font-family: "Titillium", "Arial", sans-serif;
}

// Fonts
@font-face {
  font-family: "Titillium";
  src: url("../../assets/typography/Titillium_Web/TitilliumWeb-Regular.ttf")
    format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Titillium";
  src: url("../../assets/typography/Titillium_Web/TitilliumWeb-SemiBold.ttf")
    format("truetype");
  font-style: normal;
  font-weight: 600;
}
