// Fonts
@font-face {
    font-family: "Titilluim";
    font-style: normal;
    font-weight: 400;
    src: url();
  }

  @font-face {
    font-family: "Titilluim";
    font-style: normal;
    font-weight: 600;
    src: url();
  }