// Typography Reset

html, body, textarea {
  color: $globalPrimary;
  font-family: 'Titillium', 'Arial', sans-serif;
}

// Fonts
@font-face {
    font-family: "Titillium";
    font-style: normal;
    font-weight: 400;
    src: url('../../assets/typography/Titillium_Web/TitilliumWeb-Regular.ttf'); 
  }

  @font-face {
    font-family: "Titillium";
    font-style: normal;
    font-weight: 600;
    src: url('../../assets/typography/Titillium_Web/TitilliumWeb-SemiBold.ttf');
  }