// Primary Colors
$globalText: #13182c;
$globalWhite: #ffffff;
$globalBtn: #2e66e5;
//Secondary Colors
$tableText: #5c667e;
$tableBorder: #bdc5d5;
//Background Colors
$bgHeader: #232940;
$bgPage: #bdc5d5;
//Supporting Colors
$stockOut: #c94515;
$stockIn: #158463
