// Primary Colors
$globalPrimary: #13182c;
$globalOffset: #ffffff;
$globalHiglight: #2e66e5;
//Seccondary Colors
$globalSecondary: #5c667e;
$globalBorder: #bdc5d5;
//Background Colors
$bgHeader: #232940;
$bgPage: #bdc5d5;
//Supporting Colors
$stockOut: #c94515;
$stockIn: #158463
