@import '../../styles/global';

.header {
    background-color: $bgHeader;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    padding: 24px 16px;

    &__nav {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin: 24px 0;

        @include tablet {
            width: fit-content;
            margin: 0;
        }

        &-link {
            color: $globalBorder;
            text-decoration: none;
            font-size: 13px;
            line-height: 20px;
            width: 164px;
            padding: 8px;
            text-align: center;
            border-radius: 20px;

            &:hover{
                cursor: pointer;
            }

            &.--active {
                background-color: $globalPrimary;
                color: $globalOffset
            }

            @include tablet {
                width: 107px;
            }
        }
    }

    @include tablet {
        justify-content: space-between;
        padding: 32px;
    }

    @include laptop {
        padding: 32px 10.15vw;
    }
}